// Vars

// OpenHeritage StyleGuide colors
$primary-blue: #243146;
$primary-pink: #cd5360;
$primary-gold: #ab9d81;
$secondary-blue: #30415d;
$secondary-grey: #494949;

// Decidim main vars
$primary: $primary-pink;
$secondary: $secondary-blue;
$body-font-color: $secondary-grey;
$main-footer-bg: #212C3F;

// Custom vars
$title-bar-bg: #ffffff;
$link-color: $secondary-blue;
$navbar-fg: $secondary-grey;
$navbar-fg-hover: #333333;
$navbar-bg: #f1f1f1;
