container_commands:
  01_install_libpng15:
    command: sudo yum -y install https://archives.fedoraproject.org/pub/archive/fedora/linux/releases/26/Everything/x86_64/os/Packages/l/libpng15-1.5.28-2.fc26.x86_64.rpm
  02_install_wkhtmltopdf:
    command: sudo yum -y install https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
  03_unzip_binary:
    command: find /opt -name wkhtmltopdf_centos_7_amd64.gz -exec sudo gunzip {} \;

