<div class="eu-footer">
  <div class="flag-container">
    <%= image_tag "openheritage/europe-flag.png", class: "flag", alt: "Europe flag" %>
  </div>
  <div class="row disclaimer">
    <div class="medium-4 column">
      This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 776766.
    </div>
    <div class="medium-4 column">
      The sole responsibility for the content of this publication lies with the authors. It does not necessarily represent the opinion of the European Union.
    </div>
    <div class="medium-4 column">
      Neither the EASME nor the European Commission is responsible for any use that may be made of the information contained therein
    </div>
  </div>
</div>
