<div class="mini-footer flex justify-center">
  <div class="row flex">
    <div class="flex pl-4 pr-4 items-center">
      <a rel="license" class="cc-badge"
         href="http://creativecommons.org/licenses/by-sa/4.0/"
         target="_blank">
        <%= image_pack_tag("media/images/cc-badge.png", alt: "Creative Commons License" ) %>
      </a>
      <div class="pl-4">
        <%= t("oh.layouts.footer.made_by_platoniq").html_safe %>
      </div>
    </div>
    <div class="flex">
      <% if current_organization.official_img_footer.attached? %>
        <div class="decidim-logo">
          <%= link_to current_organization.official_url do %>
            <%= image_tag current_organization.attached_uploader(:official_img_footer).url(host: current_organization.host), alt: "current_organization.name"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
